footer {
    padding: 0;
    margin: 0;

    .contact {
        padding-right: 1em;
    }
    .cfa-logo {
        padding-left: 1em;
    }
    .beehive {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
