.footer {
    padding: 0;
    margin: 0;

    &__contact {
        padding-right: 1em;
        @include media-query($on-small) {
            padding: 0;
        }
    }

    &__cfa-logo {
        padding-left: 1em;
        @include media-query($on-small) {
            padding: 1em 0;
        }
    }
    .beehive {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
