.footer {
    padding: 4em 0 0;
    background-color: white;

    &__items {
        align-items: center;
    }

    &__contact {
        padding-right: 1em;
        @include media-query($on-small) {
            padding: 0;
        }
    }

    &__cfa-logo {
        padding-left: 1em;
        @include media-query($on-small) {
            padding: 1em 0;
        }
    }
}
