section {
    &.main {
        padding-bottom: 4em;
        margin: 0 4em;
    }
    @include media-query($on-small) {
        &.main {
            margin: 0 2em;
        }
    }
}
.flex {
    display: flex;
    &--around {
        justify-content: space-around;
    }
    &--between {
        justify-content: space-between;
    }
    &__row {
        flex-direction: row;
    }
    &__column {
        flex-direction: column;
    }
    &--center {
        justify-content: center;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}
.marginless {
    margin: 0
}
.center {
    margin-left: auto;
    margin-right: auto;
}
