section {
    padding-bottom: 4em;
    margin: 0 4em;

    @include media-query($on-small) {
        margin: 0 1em;
    }
    .action {
        padding-left: 2em;
    }
}
.flex {
    display: flex;
    &__row {
        flex-direction: row;
    }
    &__column {
        flex-direction: column;
    }
    &--around {
        justify-content: space-around;
    }
    &--between {
        justify-content: space-between;
    }
    &--center {
        justify-content: center;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}
.marginless {
    margin: 0
}
.center {
    margin-left: auto;
    margin-right: auto;
}
