section {
    background-color: white;

    .action {
        padding-left: 2rem;

        @include media-query($on-small) {
            padding-left: 0;
        }
    }
}
.flex {
    display: flex;
    &__row {
        flex-direction: row;
    }
    &__column {
        flex-direction: column;
    }
    &--around {
        justify-content: space-around;
    }
    &--between {
        justify-content: space-between;
    }
    &--center {
        justify-content: center;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.half-width {
    width: 50%;
    @include media-query($on-small) {
        width: auto;
    }
}
