.nav {
    max-width: 60%;
    text-align: center;
    justify-content: space-around;
    span {
        padding: 0 .7em;
    }
    &__highlight {
        border: 1px rgba($primary--red, .5) solid;
    }
}
