.social {
    max-width: 50%;
    margin-bottom: 4em;

    @include media-query($on-small) {
        max-width: 100%;
        flex-wrap: wrap;
    }

    span {
        padding: 0 .7em;
    }
    a {
        color: $highlight
    }
}
