$margin: 20px;
$photo--size: 200px;

.team {
  &__member, &__photo {
    width: $photo--size;
    height: $photo--size;
    margin: $margin;
  }
  &__member {
      @include media-query($on-small) {
          margin-left: (-$margin);
      }
  }
  &__photo {
    display: block;
    border: 1px $black solid;
    width: $photo--size;
    height: $photo--size;
    position: absolute;
    z-index: -1;
}
  &__name {
      margin: $margin + 1 (-$margin - 1) 0 $margin;
      background-color: rgba(0, 0, 0, .5);
      color: #fff;
      font-weight: 900;
  }
  &__social {
      margin: 0 (-$margin - 1) (-$margin - 1) $margin + 1;
      background-color: rgba(255, 255, 255, .75);
      font-weight: 900;
      a {
          color: $highlight;
      }
  }
}
