$margin: 20px;
$photo--size: 200px;

.team {
  &__member {
    width: $photo--size + 50;
    min-height: 400px;
    max-height: $photo--size * 3;
    margin: 1rem;
    box-shadow: 0 0 0 1px rgba(17,17,17,0.08);
    border-radius: 0.25rem;
    text-align: left;
    padding: .5rem;
  }
  &__skill, &__bio {
      font-size: 0.875rem;
      color: lighten($black, 40);
      margin: 0;
  }
  &__skill {
    text-transform: uppercase;
  }
  &__photo {
    margin: 0 auto .5rem;
    border: .15rem rgba($highlight, .7) solid;
    width: $photo--size;
    height: $photo--size;
    border-radius: $photo--size / 2;
    box-shadow: 0 0 0 1px rgba(17,17,17,0.08);
  }
  &__name {
      font-size: 1.25rem;
      font-weight: 900;
      margin: 0 0 .25em;
      padding-top: .25em;
  }
  &__social {
      margin: auto 1rem 0;
      padding-top: 1rem;
      background-color: rgba(255, 255, 255, .75);
      font-weight: 900;
      font-size: 1rem;
      a {
          color: $highlight;
      }
  }
}
