.text {
    &--large {
        font-size: 2em;
    }
    &--medium {
        font-size: 1.5em;
    }
    &--left {
        text-align: left;
    }
}
a {
    color: $nav__links;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    padding-top: .5em;
    margin: 0 0 1em;
    font-size: 2.65em;
    font-weight: 300;
    color: $black;
}
h2 {
    margin-bottom: 1em;
    font-size: 2em;
}
h3 {
    margin-bottom: .6em;
    font-size: 1.6em;
}
h4 {
    margin-bottom: .3em;
    font-size: 1.4em;
}
h5 {
    margin-bottom: .2em;
    font-size: 1.3em;
}
h6 {
    margin-bottom: .1em;
    font-size: 1.2em;
}
