$on-small: 525px;

$primary--red: #ce324a;
$primary--blue: #399fd3;
$primary--gray: #6D6E71;

$secondary--gray: #e5e5e5;
$secondary--dark-gray: #444444;
$secondary--medium-red: #aa1c3a;

$nav__links: #2476b2;
$black: #333;
